/* bootcamp JavaScript Game Developer ago 2020 Digital Innovation One */
/* comandos de responsividade da pagina */

@media screen and (max-width:700px){
    header .container{
        display:flex;
        flex-direction: column; 
    }
    .botao{
        margin-top:5px;
        width: 5px;
    }

    nav{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        font-size:14px
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width:50%
    }
}


