/* bootcamp JavaScript Game Developer ago 2020 Digital Innovation One */

:root{                      /* declaracao de variaveis */
    --vermelho: #E50914;
    --preta: #141414;
}



*{
    margin: 0%;
    padding:0;
    box-sizing: border-box;
}


body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 40px;
}   


header nav a {
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#91880e;
}




/* sobre o filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)) url('../img/rmposter3.jpg');
    height: 400px;
    background-size: cover;
}